
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'consolas';
}

html,
body {
  height: 100%;
}

.users {
  float: left;
  height: 100%;
  width: 20%;
  color: white;
  background-color: #000;
  overflow-y: scroll;
}

.chat {
  height: 100%;
  width: 80%;
  background-color: #eee;
  overflow-y: scroll;
}

.form {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

input {
  width: 100%;
  padding: 10px;
  height: 40px;
}
